<% title "Configuration" %>

<section class="two_col">  
  <div>
  	<div id="sidebar">
  	  <div>
  	  	<h3 class="divider">Actions</h3>
        <p><%= link_to "Customize Test Script", test_scripts_path %></p>
        <p><%= link_to "Customize Test Account", accounts_path %></p>
        <p><%= link_to "Customize Test Box", boxes_path %></p>
        <p><%= link_to "Customize Test Instance", instances_path %></p>
  	  </div>
  	</div>
  </div>
  
</section>

